<%= simple_form_for [@order, @shipping] do |f| %>
<div class="row">
  <div class="col">
    <h3>Nombre</h3>
    <%= f.input :first_name, label: false %>
  </div>
  <div class="col">
    <h3>Apellido</h3>
    <%= f.input :last_name, label: false %>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>DNI</h3>
    <%= f.input :dni, label: false %>
  </div>
</div>
<div class="row">
  <div class="col-7 col-md-5">
    <h3>Provincia</h3>
    <%= f.input :state, label: false %>
  </div>
  <div class="col-5 col-md-3">
    <h3>Codigo Postal</h3>
    <%= f.input :postal_code, label: false %>
  </div>
  <div class="col col-md-4">
    <h3>Ciudad</h3>
    <%= f.input :city, label: false %>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>Direccion</h3>
    <%= f.input :address, label: false %>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <h3>Numero</h3>
    <%= f.input :number, label: false %>
  </div>
  <div class="col-3">
    <h3>Piso</h3>
    <%= f.input :floor, label: false %>
  </div>
  <div class="col-3">
    <h3>Depto</h3>
    <%= f.input :building, label: false %>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <h3>Cód. Área</h3>
    <%= f.input :area_code, label: false %>
  </div>
  <div class="col-8">
    <h3>Telefono</h3>
    <%= f.input :phone, label: false %>
  </div>
</div>
<h3>Costo de envio</h3>
<% if @order.amount.to_i > 4000 %>
Envio Gratis
<%= f.input :amount, collection: [[ 'Gratis', 'local']], selected: 'local' %>
<% else %>
<%= f.input :amount, collection: [['caba', 'Envio a Caba y San Nicolas - $500'], ['address', 'Envios al resto del pais - $600'],['local', 'Retiro por el local - $0']], label: false %>
<% end %>
<div class="d-md-flex justify-content-between">
  <%= f.submit 'Continuar', class: 'btn btn-dark btn-block ml-md-5 py-3 order-2' %>
  <p class="order-1 pt-2 pt-md-0">*Al hacer click en Continuar estás aceptando estos Términos y condiciones</p>
</div>
<% end %>
