<%= simple_form_for [@order, @shipping] do |f| %>
<div class="row">
  <div class="col">
    <%= f.input :first_name %>
  </div>
  <div class="col">
    <%= f.input :last_name %>
  </div>
</div>
<%= f.input :address %>
<div class="row">
  <div class="col-5">
    <%= f.input :state %>
  </div>
   <div class="col-3">
    <%= f.input :amount %>
  </div>
  <div class="col-4">
    <%= f.input :city %>
  </div>
</div>
<%= f.submit %>
<% end %>

