<%= simple_form_for @article do |f| %>
<%= f.input :name %>
<%= f.input :photos, as: :file, input_html: { multiple: true } %>
<%= f.input :color %>
<%= f.association :division %>
<div class="text-right">
  <%= f.submit class: "btn btn-primary btn-block mt-4" %>
  <%= link_to "volver", user_path(current_user) , class: "btn btn-secondary mt-4"%>
</div>
<% end %>
