<div class="container pt-5">
  <div class="p-5 bg-white mt-5">
    <%= link_to 'Crear Categoria Principal', new_category_path, class: 'btn btn-dark btn-lg btn-block' %>
    <%= link_to 'Ver Categoria Principal', categories_path, class: 'btn btn-primary btn-lg btn-block' %>
    <%= link_to 'Crear Categoria', new_sub_category_path, class: 'btn btn-dark btn-lg btn-block' %>
    <%= link_to 'Ver Categorias', sub_categories_path, class: 'btn btn-primary btn-lg btn-block' %>
    <%= link_to 'Crear Producto', new_product_path, class: 'btn btn-dark btn-lg btn-block'  %>
    <%= link_to 'Inventario de Productos', products_path, class: 'btn btn-primary btn-lg btn-block'  %>
    <%= link_to 'Ver Usuarios', users_path, class: 'btn btn-primary btn-lg btn-block'  %>
  </div>
</div>

