<div class="pl-0 pl-md-4">
  <h2 class="font-weight-bold h3 pb-4">TUS DATOS</h2>
  <h2 class="h5 font-weight-bold mb-1">Nombre</h2>
  <p><%= @user.shipping&.full_name %></p>
  <h2 class="h5 font-weight-bold mb-1">Teléfono</h2>
  <p><%= @user.shipping&.full_number %></p>
  <h2 class="h5 font-weight-bold mb-1">Codigo Postal</h2>
  <p><%= @user.shipping&.postal_code %></p>
  <h2 class="h5 font-weight-bold mb-1">Ciudad</h2>
  <p><%= @user.shipping&.city %></p>
  <h2 class="h5 font-weight-bold mb-1">Provincia</h2>
  <p><%= @user.shipping&.state %></p>
  <h2 class="h5 font-weight-bold mb-1">Dirección</h2>
  <p><%= @user.shipping&.address %></p>
  <p><strong>Numero:</strong> <%= @user.shipping&.number %></p>
  <p><strong>Piso:</strong> <%= @user.shipping&.floor %></p>
  <p><strong>Depto:</strong> <%= @user.shipping&.building %></p>
  <h2 class="h5 font-weight-bold mb-1">Dirección de correo electrónico</h2>
  <p class="mb-5"><%= @user.email %></p>
</div>
