<nav class="navbar navbar-expand-lg navbar-light navbar-lewagon fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="modal" data-target="#navbar-modal">
    <svg width="30" height="18" viewBox="0 0 30 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="30" height="2.57143" fill="black"/>
      <rect y="7.71429" width="18.2609" height="2.57143" fill="black"/>
      <rect y="15.4286" width="24.7826" height="2.57143" fill="black"/>
    </svg>
  </button>
  <div>
    <%= link_to root_path, class: 'navbar-brand' do  %>
    <%= image_tag 'logo1.png' %>
    <% end %>
  </div>
  <div class="d-lg-none magnify">
  <%= render 'shared/mobile_navbar' %>
  </div>

  <div class="collapse navbar-collapse" id="navbarNav">
    <% @categories.each do |category| %>
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to category.name, category_path(category), class: "nav-link" %>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="d-none d-lg-block" id="right-menu">
    <div class="d-flex align-items-center justify-content-end">
      <div>
        <% if user_signed_in? %>
        <%= link_to user_path(current_user) do%>
        <span>
          <svg style="margin-bottom: 4px;" width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.5 7.30435C19.5 11.0826 16.57 14.1087 13 14.1087C9.42999 14.1087 6.5 11.0826 6.5 7.30435C6.5 3.52614 9.42999 0.5 13 0.5C16.57 0.5 19.5 3.52614 19.5 7.30435Z" stroke="black"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M24.9634 24C24.9878 23.8262 25 23.6522 25 23.4782C25 21.8047 23.8682 20.1205 21.6766 18.8011C19.5044 17.4934 16.4392 16.6522 13 16.6522C9.56082 16.6522 6.49557 17.4934 4.32337 18.8011C2.13178 20.1205 1 21.8047 1 23.4782C1 23.6522 1.01223 23.8262 1.0366 24H0.0284321C0.0095766 23.8275 0 23.6536 0 23.4782C0 19.156 5.8203 15.6522 13 15.6522C20.1797 15.6522 26 19.156 26 23.4782C26 23.6536 25.9904 23.8275 25.9716 24H24.9634Z" fill="black"/>
            <line x1="25" y1="23.4565" y2="23.4565" stroke="black"/>
          </svg>
        </span>
        <% end %>
        <% else %>
        <%= link_to new_user_session_path do%>
        <i class="far fa-user" style="margin-left: 8px;font-size: 24px; padding-top: 8px;"></i>
        <% end %>
        <% end %>
        <%= link_to pages_search_path do  %>
        <svg  style="margin-bottom: 4px;" width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.37473 2.70142e-08C9.97682 -3.75726e-05 11.5453 0.501027 12.8941 1.44375C14.2428 2.38646 15.3153 3.73127 15.9842 5.3186C16.6531 6.90593 16.8903 8.66916 16.6678 10.3991C16.4453 12.129 15.7723 13.7531 14.7287 15.0785L22 23.0068L21.0892 24L13.8166 16.0702C12.7909 17.0266 11.5685 17.6985 10.2533 18.0287C8.93818 18.359 7.56933 18.3377 6.26334 17.9668C4.95735 17.5959 3.75293 16.8863 2.75264 15.8985C1.75235 14.9107 0.98584 13.6739 0.518387 12.2935C0.0509336 10.9131 -0.103612 9.42991 0.0679123 7.97032C0.239437 6.51074 0.731949 5.11798 1.5035 3.91066C2.27506 2.70335 3.30279 1.71724 4.49918 1.03633C5.69557 0.355425 7.02516 -0.000113155 8.37473 2.70142e-08V2.70142e-08ZM8.37473 1.40474C6.49547 1.40474 4.69318 2.21874 3.36434 3.66766C2.0355 5.11658 1.28897 7.08173 1.28897 9.13082C1.28897 11.1799 2.0355 13.1451 3.36434 14.594C4.69318 16.0429 6.49547 16.8569 8.37473 16.8569C10.254 16.8569 12.0563 16.0429 13.3851 14.594C14.714 13.1451 15.4605 11.1799 15.4605 9.13082C15.4605 7.08173 14.714 5.11658 13.3851 3.66766C12.0563 2.21874 10.254 1.40474 8.37473 1.40474Z" fill="black"/>
        </svg>
        <% end %>
      </div>
      <div class="cart-item-lg">
        <% if total_cart_items %>
        <%= link_to cart_path(@cart) do %>
        <span class="icon is-small" style="position: relative;">
          <svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="4.5" width="21" height="19" rx="1.5" stroke="black"/>
            <mask id="path-2-inside-1" fill="white">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M16.4991 5H5.49908C5.66683 2.21144 8.06513 0 10.9991 0C13.933 0 16.3313 2.21144 16.4991 5Z"/>
            </mask>
            <path d="M5.49908 5L4.50089 4.93995L4.43712 6H5.49908V5ZM16.4991 5V6H17.561L17.4973 4.93995L16.4991 5ZM5.49908 6H16.4991V4H5.49908V6ZM6.49728 5.06005C6.63159 2.8274 8.56569 1 10.9991 1V-1C7.56457 -1 4.70208 1.59549 4.50089 4.93995L6.49728 5.06005ZM10.9991 1C13.4325 1 15.3666 2.82739 15.5009 5.06005L17.4973 4.93995C17.2961 1.59549 14.4336 -1 10.9991 -1V1Z" fill="black" mask="url(#path-2-inside-1)"/>
          </svg>
        </span>
        <span style="position: absolute; top: 40px; right: 75px; padding: 1px 6px; background-color: black; color: white; font-size: 10px; font-weight: bold; border-radius: 50%;">
          <%= cart_count_over_one %>
        </span>
        <% end %>
        <% end %>
      </div>

    </div>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="navbar-modal" tabindex="-1" role="dialog" aria-labelledby="navbar-modalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable w-100 m-0 h-100" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button type="button" class="modal-close border-0 bg-white" data-dismiss="modal" aria-label="Close">
          <svg width="30" height="20" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="37.0786" height="3" transform="matrix(0.691384 0.722487 -0.805471 0.592635 4.36426 0)" fill="black"/>
            <rect width="37.0786" height="3" transform="matrix(0.691384 -0.722487 0.805471 0.592635 0 26.7888)" fill="black"/>
          </svg>
          <span style="font-size: 14px;">Cerrar</span>
        </button>
      </div>
      <div class="modal-body px-5">
        <ul class="navbar-nav mr-auto">
          <% @categories.each do |category| %>
          <li class="nav-item">
            <%= link_to category.name, category_path(category), class: "nav-link" %>
          </li>
          <% end %>
        </ul>
        <div class="pt-5">
          <h6 class="font-weight-bold mb-3">Conoce mas sobre Cotton</h6>
          <p class="mb-2">Contacto</p>
          <p class="mb-2">Quienes somos?</p>
        </div>
      </div>
      <div class="px-4 pb-5 border-secondary mt-3 text-center">
        <% if user_signed_in? %>
        <p><%= link_to 'Menu',user_path(current_user), class: "btn btn-success btn-block rounded-pill py-2 text-white" %></p>
        <% else %>
        <p><%= link_to 'Iniciar sesión', new_user_session_path, class: "btn btn-success btn-block rounded-pill py-2 text-white" %></p>
        <% end %>
        <%= link_to 'Carrito','#', class: "btn btn-dark btn-block rounded-pill py-2" %>
      </div>
    </div>
  </div>
</div>
