<% if user_signed_in? && current_user.permission_level == "wholesaler" %>
<%= render 'shared/wholesaler_navbar' %>
<% else %>
<nav class="navbar navbar-expand-lg navbar-light navbar-lewagon fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="modal" data-target="#navbar-modal">
    <svg width="30" height="18" viewBox="0 0 30 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="30" height="2.57143" fill="black"/>
      <rect y="7.71429" width="18.2609" height="2.57143" fill="black"/>
      <rect y="15.4286" width="24.7826" height="2.57143" fill="black"/>
    </svg>
  </button>
  <div>
    <%= link_to root_path, class: 'navbar-brand' do  %>
    <%= image_tag 'logo1.png' %>
    <% end %>
  </div>
  <div class="d-lg-none magnify">
    <%= render 'shared/mobile_navbar' %>
  </div>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <% @categories.each do |category| %>
      <li class="nav-item">
        <%= link_to category.name, category_path(category), class: "nav-link" %>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="d-none d-lg-block" id="right-menu">
    <%= render 'shared/desktop_navbar' %>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="navbar-modal" tabindex="-1" role="dialog" aria-labelledby="navbar-modalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable w-100 m-0 h-100" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button type="button" class="modal-close border-0 bg-white" data-dismiss="modal" aria-label="Close">
          <svg width="30" height="20" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="37.0786" height="3" transform="matrix(0.691384 0.722487 -0.805471 0.592635 4.36426 0)" fill="black"/>
            <rect width="37.0786" height="3" transform="matrix(0.691384 -0.722487 0.805471 0.592635 0 26.7888)" fill="black"/>
          </svg>
          <span style="font-size: 14px;">Cerrar</span>
        </button>
      </div>
      <div class="modal-body px-5">
        <ul class="navbar-nav mr-auto">
          <% @categories.each do |category| %>
          <li class="nav-item">
            <%= link_to category.name, category_path(category), class: "nav-link" %>
          </li>
          <% end %>
        </ul>
        <div class="pt-5">
          <h6 class="font-weight-bold mb-3">Conoce mas sobre Cotton</h6>
          <p class="mb-2"><%= link_to 'Contacto', new_contact_path, style: "font-size: 16px;" %></p>
          <p class="mb-2">Quienes somos?</p>
        </div>
      </div>
      <div class="px-4 pb-5 border-secondary mt-3 text-center">
        <% if user_signed_in? %>
        <p><%= link_to 'Menu',user_path(current_user), class: "btn btn-success btn-block rounded-pill py-2 text-white" %></p>
        <% else %>
        <p><%= link_to 'Iniciar sesión', new_user_session_path, class: "btn btn-success btn-block rounded-pill py-2 text-white" %></p>
        <% end %>
        <% if total_cart_items %>
          <%= link_to 'Carrito',cart_path(@cart), class: "btn btn-dark btn-block rounded-pill py-2" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
