<div class="banner d-flex align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1578683010236-d716f9a3f461?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80);">
  <div class="container">
    <h1>COTTON HOME</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
<div class="home-cards">
  <div class="column">
    <% @categories.where(name: "Habitación").each do |category| %>
    <%= link_to category_path(category) do  %>
    <div class="card-category-1" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= category.photo %>)">
      <div class="text-center">
        <h2><%= category.name.upcase %></h2>
        <button class="home-button">VER MAS</button>
      </div>
    </div>
    <% end %>
    <% end %>
    <% @categories.where(name: "Cocina").each do |category| %>
    <%= link_to category_path(category) do  %>
    <div class="card-category-2" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= category.photo %>)">
      <div class="text-center">
        <h2><%= category.name.upcase %></h2>
        <button class="home-button">VER MAS</button>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
  <div class="column">
    <% @categories.where(name: "Living").each do |category| %>
    <%= link_to category_path(category) do  %>
    <div class="card-category-2" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= category.photo %>)">
      <div class="text-center">
        <h2><%= category.name.upcase %></h2>
        <button class="home-button">VER MAS</button>
      </div>
    </div>
    <% end %>
    <% end %>
    <% @categories.where(name: "Habitación").each do |category| %>
    <%= link_to category_path(category) do  %>
    <div class="card-category-1" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= category.photo %>)">
      <div class="text-center">
        <h2><%= category.name.upcase %></h2>
        <button class="home-button">VER MAS</button>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="text-center">
    <h2 class="pt-5">Mas vendidos</h2>
    <p class="pb-5">Renovate elegi nuestros productos mas vendidos</p>
  </div>
  <div class="products-home-cards">
    <% @products.last(3).each do |product| %>
      <%= render 'shared/product_card', product: product %>
    <% end %>
  </div>
</div>
