<div class="banner d-flex align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dmbom1kyl/image/upload/c_fit,q_auto:good,w_1400/v1620908357/fondo_prgqdl.jpg);">
  <div class="container text-center">
    <p>EN TIENDAS & ONLINE</p>
    <h1>Descubrí Nuestras Sabanas</h1>
    <% @sub_categories.where(name: "Sabanas").each do |sub_category| %>
    <%= link_to 'Explorar colección', sub_category_path(sub_category), class: 'home-button px-5' %>
    <% end %>
  </div>
</div>
<section id="home-cards">
  <div class="home-cards">
    <%= render 'cards' %>
  </div>
</section>
<div class="container">
  <div class="text-center">
    <h2 class="pt-5">Mas vendidos</h2>
    <p class="pb-5">Renovate elegi nuestros productos mas vendidos</p>
  </div>
  <div class="products-home-cards pb-5">
    <% @products.last(4).each do |product| %>
    <%= render 'shared/product_card', product: product %>
    <% end %>
  </div>
  <h2 class="pt-5 text-center pb-5">Categorias</h2>
  <div id="card-category-grid">
    <% @categories.each do |category| %>
    <%= link_to category_path(category) do  %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= category.photo %>)">
      <%= category.name %>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
<%= render 'social_media' %>
