<div class="sub-categories">
  <div class="container pb-5" data-controller="filter">
    <div class="d-md-flex justify-content-center py-2 py-md-3 text-center px-3 px-md-0">
      <% sub_category_links = @sub_categories.filter { |sub_category| sub_category.category.name == @sub_category.category.name } %>
      <% sub_category_links.each do |sub_category| %>
      <%= link_to sub_category_path(sub_category) do  %>
      <h5 class="py-2 py-md-3 mb-0 border-bottom pl-md-3"><%= sub_category.name %></h5>
      <% end %>
      <% end %>
    </div>
    <h3  class="text-center font-weight-bold py-3" ><%= @sub_category.name %></h3>
    <p data-action="click->filter#hideFilters" class="text-right">Color <i class="fas fa-chevron-down"></i></p>
    <div class="d-none" data-target="filter.color">
      <div class="d-md-flex justify-content-center text-center px-3 px-md-0">
        <% @sub_category.products.uniq(&:color).each do |product| %>
        <p class="py-2 py-md-3 mb-0 pl-md-3 text-body"><%= link_to product.color, sub_category_path(color: product.color)%></p>
        <% end %>
      </div>
    </div>
    <hr>
    <div id="category-container">
      <% @products.each do |product| %>
      <%= render 'shared/product_card', product: product %>
      <% end %>
    </div>
  </div>
</div>
