<%= simple_form_for([@product, @variant ], remote: true)  do |f| %>
<%= f.input :size %>
<%= f.input :stock %>
<%= f.input :price_cents %>
<div class="text-right">
  <%= f.submit class: "btn btn-primary btn-block"%>
  <%= link_to 'volver', products_path, class: "btn btn-secondary mt-3" %>
</div>
<% end %>
