<p>Gracias <%= @order.user.email %> por comprar en Cotton Home</p>


Detalle de la orden<br>
--------------------------
<p><strong>Subtotal:</strong> $<%= @order.amount %></p>
<p><strong>Envio:</strong> $<%= @order.total.to_i - @order.amount.to_i %></p>
<p><strong>Total:</strong> $<%= @order.total %></p>
<br>
<% @order.cart.line_items.each do |line_item| %>

<p><strong>Producto: </strong><%= line_item.product.name %></p>
<p><strong>Cantidad: </strong><%= line_item.quantity %></p>

<p><strong> *El estado del pago esta pendiente, te enviaremos otro mail cuando el pago este confirmado, muchas gracias</strong></p>
<% end %>
