<%= simple_form_for @category do |f| %>
<%= f.input :name %>
<%= f.input :photo %>
<div class="text-right">
  <%= f.submit class: "btn btn-primary btn-block mt-4" %>
  <%= link_to "volver", :back , class: "btn btn-secondary mt-4 text-right"%>
</div>
<% end %>
