<div class="text-center px-0 px-md-5" data-controller="radio-selector">
  <%= form_tag line_items_path do %>
  <%= hidden_field_tag 'product_id', @product.id %>
  <div class="label-size d-flex justify-content-center">
    <% @product.variants.each_with_index do |variant, index| %>
    <% unless variant.stock <= 0 %>
    <div class="form-check py-4">
      <input class="form-check-input d-none" type="radio" name="variant_id" id="<%= index + 1 %>" value="<%= variant.id %>" checked>
      <label data-target="radio-selector.option" data-action="click->radio-selector#selectRadioOption" class="form-check-label btn btn-outline-success" for="<%= index + 1 %>" >
        <%= humanized_money_with_symbol(variant.price) %>
        <%= variant.size %>
      </label>
    </div>
    <% end %>
    <% end %>
  </div>
  <h6 type="button" class="badge badge-primary btn-sm h6", data-toggle="modal", data-target="#ModalSize">
    Guía de Medidas
  </h6>
  <hr>
  <div class="d-flex justify-content-around px-3 px-md-5 py-3">
    <div class="">
      <input data-target="radio-selector.input"  disabled id="price">
    </div>
    <div class="flex-grow-1">
      <% if @product.variants(&:stock).count <= 0 %>
      <button disabled class="btn btn-secondary btn-lg btn-block">Agotado</button>
      <% else %>
      <%= submit_tag 'COMPRAR', class: 'btn btn-dark btn-lg btn-block' %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>


<div class="modal fade" id="ModalSize" tabindex="-1" role="dialog" aria-labelledby="ModalSizeTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalSizeTitle">Guía de Medidas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-left">
        <h3 class="bg-secondary h5 py-2 px-1 font-weight-bold">Cuna</h3>
        <p>Para colchón de hasta 0.60 m de ancho x 1.20 m de largo x 0.20 m de alto.</p>
        <h3 class="bg-secondary h5 py-2 px-1 font-weight-bold">Twin Size</h3>
        <p>Para colchón de hasta 1 m de ancho x 2 m de largo x 0.25 m de alto.</p>
        <h3 class="bg-secondary h5 py-2 px-1 font-weight-bold">Queen Size</h3>
        <p>Para colchón de hasta 1.50 m de ancho x 1.90 m de largo x 0.25 m de alto.</p>
        <h3 class="bg-secondary h5 py-2 px-1 font-weight-bold">King Size</h3>
        <p>Para colchón de hasta 2 m de ancho x 2 m de largo x 0.35 m de alto</p>
      </div>
    </div>
  </div>
</div>
