<% if user_signed_in? && current_user.permission_level == 'admin' %>
<div class="container my-5 pt-5">
<%= render 'admin_panel' %>
</div>
<% end %>
<div class="product-container my-5 pt-4 mb-5">
  <div class="product-image pt-2">
    <%= render 'carousel' %>
  </div>
  <div class="text-center px-3 px-md-5 pt-4">
    <h2><%= @product.name %></h2>
    <hr>
    <div class="product-image-container py-4">
      <h6 class="pb-4">COLOR</h6>
      <% product_name =  @product.name %>
      <% product_links = @products.filter { |product| product.name == product_name } %>
      <% product_links.each do |p| %>

      <%= link_to product_path(p) do %>
      <% p.photos.first(1).each do |photo| %>
      <%= cl_image_tag photo.key %>
      <% end %>
      <% end %>
      <% end %>
    </div>
    <p class="px-2 px-md-5 pt-3">Sábana de 400 hilos, 100% algodón egipcio con bordado en forma de cadena. Vienen 3 o 4 piezas según el tamaño elegido: Sábana ajustable, Sábana plana y una o dos fundas de almohada.</p>
    <%= render 'content' %>
  </div>
</div>
<div class="container py-5">
  <div class="text-center">
    <h2 class="py-5">Más Productos</h2>
  </div>
  <div class="products-home-cards">
    <% @products.last(3).each do |product| %>
      <%= render 'shared/product_card', product: product %>
    <% end %>
  </div>
</div>

