<div class="container my-5 ">
  <div class="bg-white p-5">
    <h2 class="text-center pb-4">Completar <%= @product.name %></h2>
    <%= render "variants/new" %>
  </div>
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th>Talle</th>
        <th>Stock</th>
        <th>Precio</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @product.variants.each do |variant| %>
      <tr>
        <th><%= variant.size %></th>
        <td><%= variant.stock %></td>
        <td><%= variant.price_cents %></td>
        <td class="text-right">
          <%= link_to 'ver', variant_path(variant), class: "pr-2"  %>
          <%= link_to 'editar', edit_variant_path(variant), class: "pr-2"  %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>
<div class="product-container">
  <div class="">
    <img src="https://www.homecollection.com.ar/pub/media/catalog/product/cache/image/1200x1200/e9c3970ab036de70892d86c6d221abfe/_/e/_ez_7998-min_1.jpg" alt="" style="width: 100%;
    object-fit: cover;">
  </div>
  <div class="text-center px-5">
    <h2><%= @product.name %></h2>
    <hr>
    <div class="product-image-container py-4">
      <h6 class="pb-4">COLOR</h6>
      <img src="https://www.homecollection.com.ar/pub/media/catalog/product/cache/image/1200x1200/e9c3970ab036de70892d86c6d221abfe/1/1/111.411.13-25_2-min.jpg" alt="">
      <img src="https://www.homecollection.com.ar/pub/media/catalog/product/cache/image/1200x1200/e9c3970ab036de70892d86c6d221abfe/1/1/111.411.13-25_2-min.jpg" alt="">
      <img src="https://www.homecollection.com.ar/pub/media/catalog/product/cache/image/1200x1200/e9c3970ab036de70892d86c6d221abfe/1/1/111.411.13-25_2-min.jpg" alt="">
      <img src="https://www.homecollection.com.ar/pub/media/catalog/product/cache/image/1200x1200/e9c3970ab036de70892d86c6d221abfe/1/1/111.411.13-25_2-min.jpg" alt="">
    </div>
    <p class="px-5 pt-3">Sábana de 400 hilos, 100% algodón egipcio con bordado en forma de cadena. Vienen 3 o 4 piezas según el tamaño elegido: Sábana ajustable, Sábana plana y una o dos fundas de almohada.</p>
    <%= render 'content' %>
  </div>
</div>

<style>
  .product-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .product-image-container img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
</style>
