<% if user_signed_in? && current_user.permission_level == 'super_admin' %>
<div class="container my-5 pt-5">
<%= render 'admin_panel' %>
</div>
<% end %>
<div class="product-container my-5 pt-4 mb-5">
  <div class="product-image pt-2">
    <%= render 'carousel' %>
  </div>
  <div class="text-center px-3 px-md-5 pt-4">
    <h2><%= @product.name %></h2>
    <hr>
    <div class="product-image-container py-2">
      <h6 class="pb-1">COLOR</h6>
      <% product_name =  @product.name %>
      <% product_links = @products.filter { |product| product.name == product_name } %>
      <% product_links.each do |product| %>
      <%= link_to product_path(product) do %>
      <% product.photos.first(1).each do |photo| %>
      <%= cl_image_tag photo.key %>
      <% end %>
      <% end %>
      <% end %>
    </div>
    <p class="px-2 px-md-5 pt-3 mb-0"><%= @product.description %></p>
    <p class="px-2 px-md-5 pt-1"><%= @product&.second_description %></p>
    <%= render 'content' %>
  </div>
</div>
<div class="container py-5">
  <div class="text-center">
    <h2 class="py-5">Más Productos</h2>
  </div>
  <div class="products-home-cards">
    <% @products.uniq(&:name).last(4).each do |product| %>
      <%= render 'shared/product_card', product: product %>
    <% end %>
  </div>
</div>

